# Add account credentials and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry sets a local environment variable.
# For example, setting:
# GMAIL_USERNAME=Your_Gmail_Username
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]

DOMAIN_NAME=www.domain.com
SECRET_KEY_BASE=#run rake secret

DEPLOY_DIR=/srv
DEPLOY_PROD_SERVER=127.0.0.1
DEPLOY_PROD_USER=deploy
DEPLOY_STG_SERVER=127.0.0.1
DEPLOY_STG_USER=deploy